{
  "DEPLOYER_PRIVATE_KEY": "EKE... create with Auro Wallet and fund it at https://faucet.minaprotocol.com ",
  "WALLET": "B62.. create with Auro Wallet",
  "JWT": "eyJ... get it at support@zkcloudworker.com"
}
